.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
~*.*
*.tmp
*.bak
*.swp
/whitepaper
# ignore all config folder and file starting with . except for items listed right below with ! mark.
/.*
!/.gitignore
!/.gitconfig
!/.gitmodules

# download dojo yourself.(as of July2012, ver 1.7.4) 
/js/dijit
/js/dojo
/js/dojox

